h2{
    font-size: 18px;
    color: #3566D0;
    margin: 0 0 5px 0;
}
ion-button{
    font-size: 11px;
    margin: 15px 0 7px 0;

    ion-icon{
        margin-right:5px;
    }
}
.msg{
    font-size: 10px;
    color:#999;
    margin: 0;
}
ion-card-content{
    padding-top:0px;
}