<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
  <ion-title>Fundraisers</ion-title>
</ion-toolbar>
</ion-header>

<ion-content padding class="cards-bg social-cards">
  <ion-tabs>
      <ion-tab-bar slot="top">
          <ion-tab-button tab="my-club-fundraisers">
              <img src="assets/images/icon/rotary.svg" alt="">
              <ion-label>
                  <b>My Club</b>
              </ion-label>
          </ion-tab-button>

          <ion-tab-button tab="other-club-fundraisers">
              <img src="assets/images/icon/other-clubs.svg" alt="">
              <ion-label>
                  <b>Other Clubs</b>
              </ion-label>
          </ion-tab-button>

          <ion-tab-button tab="district-fundraisers">
              <img src="assets/images/icon/district.svg" alt="">
              <ion-label>
                  <b>District</b>
              </ion-label>
          </ion-tab-button>
      </ion-tab-bar>
  </ion-tabs>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <img src="assets/ad_banner.jpeg" alt="" class="">
    </ion-toolbar>
  </ion-footer>

  