// ion-card{
//     border-radius: 10px;
//     box-shadow: 0 3px 25px rgba(0,0,0,.10);
//     margin-bottom: 30px;

//     img{
//         max-height: 240px;
//         object-fit: cover;
//         width: 100%;
//         object-position: top;
//     }

//     ion-card-header{
//         display: block;
//         padding-bottom: 10px;
//         font-size: 13px;

//         h2{
//             font-size: 18px;
//             color: #3566D0;
//             margin: 0 0 5px 0;
//         }
//         p{
//             font-size: 11px;
//             margin: 0;
//         }
//     }
//     p{
//         font-size: 13px;
//     }
//     ion-card-content{
//         padding-top: 0px;
//     }
// }

// ion-button{
//     font-size: 12px;
//     margin: 20px 0px;
// }


.personal-card{
    // margin: 0 auto;
    text-align: center;
    // margin: 0;
    // border-radius: 0;

    &::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100px;
        // background-color: #F5A706;  
        background-image: url('/assets/images/home/box-bg.svg');
        background-size: cover;
        left: 0;
        top: 0;
        z-index: 0;
    }
    .md .personal-card::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100px;
        // background-color: #F5A706;  
        background-image: url('/assets/images/home/box-bg.svg');
        // --background: url('/assets/images/home/box-bg.svg');
        background-size: cover;
        left: 0;
        top: 0;
        z-index: -1;
    }

    
    img{
        width: 150px;
        height: 150px;
        border-radius: 100px;
        display: inline-block;
        margin-top: 20px;
        z-index: 1;
        position: relative;
    }
    ion-card-subtitle{
        text-transform: lowercase;
        font-weight: 400;
    }
}
ion-item-divider{
    border: 0;

    ion-label{
        white-space: normal;

    }
}
ion-label{
    color: #444444 !important;
}
.item-column{
    ion-label{
        width: 50%;
    }
}
ion-item-divider:nth-child(odd){
    background-color: #ffffff;
}
ion-item-divider:nth-child(even){
    background-color: #f2f2f2;
}
ion-card-title{
    border-bottom: 1px #f2f2f2 solid;
    padding-bottom: 8px;
}