<ion-header>
</ion-header>
  
<ion-content class="cards-bg social-cards">
  <ion-card *ngFor="let item of items" >
    <!-- if user admin / president / secratary -->
    <ion-fab *ngIf="userrole === 'admin'|| userrole==='superadmin'" horizontal="end" vertical="top" slot="fixed">
        <ion-fab-button color="light">
          <ion-icon name="md-more"></ion-icon>
        </ion-fab-button>
        <ion-fab-list>
          <ion-fab-button color="danger"  (click)="presentAlertConfirm(item._id)">
            <ion-icon name="trash"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="secondary" routerLink="/update-event/{{item._id}}" >
            <ion-icon name="create"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    <ion-card-content no-padding (click)=openEventPage(item._id) routerDirection="forward"> 
        <img src="{{ serverURL }}/images/{{item.image}}" onError="this.src='./../../assets/placeholder.jpg';">
    <ion-card-header>
        <!-- <ion-avatar item-start>
          <img src="{{item.img}}">
        </ion-avatar> -->
        <h2>{{item.title}} <ion-icon (click)="addToCalendar(item.title,item.eventDate,item.description)" name="calendar"></ion-icon></h2>
        <p>{{item.eventDate | date:"MMM d, y"}}</p>        
      </ion-card-header>
    </ion-card-content>   
    <ion-card-content>
      <p>{{item.description}}</p>
    </ion-card-content>
    <ion-radio-group *ngIf="item.ismember == 0">
        <ion-row class="tog-btns">
          <ion-col size="4">
            <ion-item no-lines>
              <ion-label>Yes</ion-label>
              <ion-radio mode="ios" value="yes" color="success" (ionSelect)="respondEvent('yes',item._id)" ></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item no-lines>
              <ion-label>No</ion-label>
              <ion-radio mode="ios" value="no" color="danger" (ionSelect)="respondEvent('no',item._id)" ></ion-radio>
            </ion-item>
          </ion-col>
          <!-- <ion-col size="4">
            <ion-item no-lines>
              <ion-label>Maybe</ion-label>
              <ion-radio mode="ios" value="maybe" color="primary" (ionSelect)="respondEvent('maybe',item._id)" ></ion-radio>
            </ion-item>
          </ion-col> -->
        </ion-row>
      </ion-radio-group>
    <ion-radio-group *ngIf="item.ismember != 0">
    <ion-row class="tog-btns">
      <ion-col size="4">
        <ion-item no-lines>
          <ion-label>Yes</ion-label>
          <ion-radio mode="ios" value="yes" [checked]="item.ismember[0].attending==='yes'?'true':'false'" color="success" (ionSelect)="respondEvent('yes',item._id)" ></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item no-lines>
          <ion-label>No</ion-label>
          <ion-radio mode="ios" value="no" [checked]="item.ismember[0].attending==='no'?'true':'false'" color="danger" (ionSelect)="respondEvent('no',item._id)" ></ion-radio>
        </ion-item>
      </ion-col>
      <!-- <ion-col size="4">
        <ion-item no-lines>
          <ion-label>Maybe</ion-label>
          <ion-radio mode="ios" value="maybe" [checked]="item.ismember[0].attending==='maybe'?'true':'false'" color="primary" (ionSelect)="respondEvent('maybe',item._id)" ></ion-radio>
        </ion-item>
      </ion-col> -->
    </ion-row>
  </ion-radio-group>
    
  </ion-card>
  </ion-content>
  <ion-footer>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button *ngIf="clubDesignation === 'president'" >
              <ion-icon name="add" routerLink="/add-event" routerDirection="forward"></ion-icon>
          </ion-fab-button>
      </ion-fab>
  </ion-footer>