<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
  <ion-title>{{ this.eventType | titlecase}}s</ion-title>
</ion-toolbar>
</ion-header>

<ion-content padding class="cards-bg social-cards">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="userrole == 'admin' || userrole == 'superadmin'">
    <ion-fab-button [routerLink]="['/add-event']" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-tabs>
      <ion-tab-bar slot="top">
          <ion-tab-button tab="my-club-events">
              <img src="assets/images/icon/rotary.svg" alt="">
              <ion-label>
                  My Club
              </ion-label>
          </ion-tab-button>

          <ion-tab-button tab="other-club-events">
              <img src="assets/images/icon/other-clubs.svg" alt="">
              <ion-label>
                  Other Clubs
              </ion-label>
          </ion-tab-button>

          <ion-tab-button tab="district-events">
              <img src="assets/images/icon/district.svg" alt="">
              <ion-label>
                  District
              </ion-label>
          </ion-tab-button>
      </ion-tab-bar>
  </ion-tabs>
</ion-content>

<ion-footer>
    <app-banner-slider></app-banner-slider>
  </ion-footer>

