<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Members</ion-title>
  </ion-toolbar>
  <ion-toolbar>
      <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()" debounce="500"></ion-searchbar>
    </ion-toolbar>
</ion-header> 

<ion-content>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
      <ion-list>
        <ion-virtual-scroll [items]="fileterData" approxItemHeight="320px">
        <ion-item *virtualItem="let item">
          <ion-avatar slot="start">
            <img src="{{ serverURL }}/images/{{ item.image }}" onError="this.src='./../../assets/placeholder.jpg';">
          </ion-avatar>
          <ion-label routerLink="/team/{{ item._id }}">
              <h2>{{ item.name.fullName }}</h2>
            <p>Member Since - {{ item.rotaryDetails.memberSince}}</p>
          </ion-label>
        </ion-item>
      </ion-virtual-scroll>
      </ion-list>
</ion-content>

<ion-footer>
  <app-banner-slider></app-banner-slider>
  </ion-footer>
