.logo{
    max-width: 300px;
    width: 100%;
    margin: 20px 0;
}
ion-button{
    font-size: 18px;
    font-weight: 600;
    --ion-color-primary: linear-gradient(to top,#f3a83a 0%,#fcaf3d 50%);
    color: #ffffff;
    --border-radius: 5px;
    text-transform: uppercase;
    --opacity: 1;
    --ripple-color:#f3a83a;

    &:focus, &:active{
    --ion-color-primary: linear-gradient(to top,#f3a83a 0%,#fcaf3d 50%);
    }
}
p{
    margin: 15px 0 0 0;
    font-size: 12px;
    color:#9bb5ec;
    width: 100%;
    text-align: center;
}
ion-item{      
    border-radius: 5px;
    --ion-background-color: #3666d0;
    color: white;
}
ion-input{
    text-align: center;  
}
