<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button  defaultHref="/profile"></ion-back-button>
      </ion-buttons>
    <ion-title>Business Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form onsubmit="processForm(event)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating">Business Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Designation <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="tel" oninput="handleLastNameValue(event)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="email" oninput="handleLastNameValue(event)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Classification / Profession</ion-label>
        <ion-select value="Doctor" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="Doctor">Doctor</ion-select-option>
          <ion-select-option value="Manager">Manager</ion-select-option>
          <ion-select-option value="finance">Finance</ion-select-option>
          <ion-select-option value="Lawyer">Lawyer</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Keywords</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contact Number</ion-label>
        <ion-input required type="tel" oninput="handleLastNameValue(event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input placeholder="Address Line 1"></ion-input>
        <ion-input placeholder="Address Line 2"></ion-input>
        <ion-input placeholder="City"></ion-input>
        <ion-input placeholder="State"></ion-input>
        <ion-input placeholder="Zip Code"></ion-input>
      </ion-item>

    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Save details</ion-button>
    </div>
  </form>
</ion-content>

