<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button  defaultHref="/profile"></ion-back-button>
      </ion-buttons>
    <ion-title>Business Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form [formGroup]="form">
    <div formGroupName="businessDetails">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating">Business Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text"  formControlName="businessName" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Designation <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" formControlName="designation" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="email" formControlName="emailId"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Classification / Profession</ion-label>
        <ion-input required type="text" formControlName="classificationProfession" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Keywords</ion-label>
        <ion-textarea formControlName="keywords" ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contact Number</ion-label>
        <ion-input type="tel" formControlName="alternateMobile" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input placeholder="Address Line 1" formControlName="addressLine1" ></ion-input>
        <ion-input placeholder="Address Line 2" formControlName="addressLine2" ></ion-input>
        <ion-input placeholder="City" formControlName="city" ></ion-input>
        <ion-input placeholder="State" formControlName="state" ></ion-input>
        <ion-input placeholder="Zip Code" formControlName="pincode"></ion-input>
      </ion-item>

    </ion-list>
  </div>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" (click)="submitUserDetails()">Save details</ion-button>
    </div>
  </form>
</ion-content>

