<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/profile"></ion-back-button>
    </ion-buttons>
  <ion-title>District Details</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form"> 
        <ion-item>
          <ion-label position="floating">District ID</ion-label>
          <ion-input type="text" disabled [ngModel]="items?.rotaryDetails.districtId"  formControlName="districtId"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">District Name</ion-label>
            <ion-input type="text" [ngModel]="items?.rotaryDetails.districtName"  formControlName="districtName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">District Designation</ion-label>
            <ion-input type="text" [ngModel]="items?.rotaryDetails.districtDesignation"  formControlName="districtDesignation"></ion-input>
        </ion-item>
        <div class="ion-padding">
            <ion-button expand="block" type="submit" class="ion-no-margin" (click)="submitUserDetails()">Save details</ion-button>
        </div>
    </form>
</ion-content>
