<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/profile"></ion-back-button>
    </ion-buttons>
  <ion-title>District Details</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">District ID</ion-label>
    <ion-input type="text" value="3141" readonly></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">District Name</ion-label>
      <ion-input type="text" value="Mumbai District" readonly></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">District Designation</ion-label>
      <ion-input type="text" value="PR Head" readonly></ion-input>
  </ion-item>
</ion-content>
