<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
  <ion-title>Banners</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="userrole == 'superadmin'">
    <ion-fab-button [routerLink]="['/addbanner']" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
<ion-card *ngFor="let item of items">
    <ion-card-content style="height: 125px;">
      <ion-fab horizontal="end" vertical="top" slot="fixed" *ngIf="userrole == 'superadmin'">
        <ion-fab-button color="light">
          <ion-icon name="md-more"></ion-icon>
        </ion-fab-button>
        <ion-fab-list>
          <ion-fab-button color="danger"  (click)="presentAlertConfirm(item._id)">
            <ion-icon name="trash"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="secondary"   routerLink="/update-banner/{{item._id}}">
            <ion-icon name="create"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
      <img src="{{ serverURL }}/images/{{item.image}}" onError="this.src='./../../assets/placeholder.jpg';">
    </ion-card-content>
</ion-card>
</ion-content>

<ion-footer>
  <ion-slides [options]="slideOptsOne">

    <ion-slide *ngFor="let item of items">
      <div class="slide" >
        <img src="{{ serverURL }}/images/{{item.image}}" alt="" class="">
      </div>
    </ion-slide>
  </ion-slides>
</ion-footer>