<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button  defaultHref="/profile"></ion-back-button>
      </ion-buttons>
    <ion-title>Personal Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form onsubmit="processForm(event)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>      
            <ion-label>Profile Pic <ion-text color="danger">*</ion-text></ion-label>      
            <ion-input required type="file"></ion-input>
          </ion-item>
      <ion-item>
        <ion-label position="floating">First Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Last Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mobile <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="tel" oninput="handleLastNameValue(event)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="email" oninput="handleLastNameValue(event)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Birthday</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" min="1920-03-14" max="2012-12-31"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Anniversary</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" min="1920-03-14" max="2012-12-31"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Blood Group</ion-label>
        <ion-select value="A" okText="Select" cancelText="Dismiss">
          <ion-select-option value="A+">A+</ion-select-option>
          <ion-select-option value="A-">A-</ion-select-option>
          <ion-select-option value="B+">B+</ion-select-option>
          <ion-select-option value="B-">B-</ion-select-option>
          <ion-select-option value="O+">O+</ion-select-option>
          <ion-select-option value="O-">O-</ion-select-option>
          <ion-select-option value="AB+">AB+</ion-select-option>
          <ion-select-option value="AB-">AB-</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Secondary Mobile Number</ion-label>
        <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input placeholder="Address Line 1"></ion-input>
        <ion-input placeholder="Address Line 2"></ion-input>
        <ion-input placeholder="City"></ion-input>
        <ion-input placeholder="State"></ion-input>
        <ion-input placeholder="Zip Code"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">About</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Save details</ion-button>
    </div>
  </form>
</ion-content>

