h3{
    font-weight: 500;
    font-size: 17px;
    color: #3566D0;
}
ion-card-title{
    p{
        font-size: 11px;
        margin: 0;
        font-weight: 400;
    }
}
p{
    margin-top: 10px;
    font-size: 13px;
}
ion-button{
    font-size: 10px;
    font-weight: 400;
}