<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button  defaultHref="/dashboard"></ion-back-button>
      </ion-buttons>
    <ion-title>Newsletters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="items.length != 0; else elseTemplate">
    <ion-card *ngFor="let item of items">
      <ion-card-content>
          <!-- if user admin / president / secratary -->
          <ion-fab horizontal="end" vertical="top" slot="fixed"  *ngIf="userrole == 'superadmin'">
              <ion-fab-button color="light">
                <ion-icon name="md-more"></ion-icon>
              </ion-fab-button>
              <ion-fab-list>
                <ion-fab-button color="danger" (click)="presentAlertConfirm(item._id)">
                  <ion-icon name="trash"></ion-icon>
                </ion-fab-button>
                <ion-fab-button color="secondary" routerLink="/update-newsletter/{{item._id}}" >
                  <ion-icon name="create"></ion-icon>
                </ion-fab-button>
              </ion-fab-list>
            </ion-fab>
              <!-- <ion-item>
                <ion-icon name='text'></ion-icon>
              </ion-item> -->
        <ion-card-title>
            <h3>{{item.title}}</h3>
            <p>{{item.eventdate}}</p>
        </ion-card-title>
          <p>{{item.description}}</p>
      </ion-card-content>
    </ion-card>
  </div>
  
  <ng-template #elseTemplate>
    <ion-item class="ion-text-center">
      <label class="ion=text-center">No Data</label>
    </ion-item>
  </ng-template>
 
 </ion-content>
<ion-footer>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed"  *ngIf="userrole == 'superadmin'">
        <ion-fab-button>
            <ion-icon name="add" routerLink="/add-newsletter" routerDirection="forward"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-footer>

