.splash{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bebfb8;
}
.splash img {
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.md ion-header{
    --ion-background-color: #3666d0;
}
ion-header{
    background-color: #3666d0 !important;
   
       .ios ion-title, ion-title{
         color: #F5A706;
         font-weight: 600;
         text-align: left;
         background-color: #3666d0;
         padding-left: 20px;
       }
   }
  
ion-content{
    --ion-background-color: #3666d0;

      ion-item, ion-list {
        --ion-background-color: #3666d0;
        color: #ffffff;
        margin: 0;
        border: 0;
        --border-color:#325cb7;
  
        ion-icon{
            color: #F5A706;
            margin-right: 10px;
            font-size: 17px;
        }

        .ios p{
            border-bottom: 0;
            margin: 0;
        }
      }
  
  }
