<ion-app>
    <ion-menu side="start" menuId="first" contentId="content1">
        <ion-header>
          <ion-toolbar>
            <ion-title>Rotary 3141</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
          <ion-menu-toggle auto-hide="true">
            <ion-item routerLink="/dashboard" routerDirection="forward">
                <ion-icon name="apps" slot="start"></ion-icon>
                   <p>Dashboard</p>
            </ion-item>
            <ion-item routerLink="/profile" routerDirection="forward">
                <ion-icon name="person" slot="start"></ion-icon>
                   <p>Profile</p>
            </ion-item>
            <ion-item routerLink="/myclub" routerDirection="forward">
                <ion-icon name="star" slot="start"></ion-icon>
                   <p>My Club</p>
            </ion-item>
            <ion-item (click)="openEvent('event')" routerDirection="forward">
              <ion-icon name="person" slot="start"></ion-icon>
                 <p>Events</p>
            </ion-item>
            <ion-item (click)="openEvent('project')" routerDirection="forward">
              <ion-icon name="person" slot="start"></ion-icon>
                 <p>Projects</p>
            </ion-item>
            <ion-item (click)="openEvent('fundraiser')" routerDirection="forward">
              <ion-icon name="person" slot="start"></ion-icon>
                 <p>Fundraisers</p>
            </ion-item>
            <!-- <ion-item routerLink="/blog" routerDirection="forward">
              <ion-icon name="book" slot="start"></ion-icon>
                 <p>Blogs</p>
            </ion-item> -->
            <ion-item routerLink="/rmb" routerDirection="forward">
              <ion-icon name="cash" slot="start"></ion-icon>
                 <p>Yellow Pages</p>
          </ion-item>
            <ion-item routerLink="/member-search" routerDirection="forward">
                <ion-icon name="people" slot="start"></ion-icon>
                   <p>District Members</p>
            </ion-item>
            <!-- <ion-item routerLink="/district-directory" routerDirection="forward">
                <ion-icon name="document" slot="start"></ion-icon>
                   <p>District Directory</p>
            </ion-item> -->
            <ion-item routerLink="/gml" routerDirection="forward">
                <ion-icon name="document" slot="start"></ion-icon>
                   <p>GML</p>
            </ion-item>
            <ion-item (click)="gotoPaymentPage()">
              <ion-icon name="cash"  slot="start"></ion-icon>
                 <p>Collect Donation</p>
          </ion-item>
          <ion-item (click)="gotoPaymentPage()">
            <ion-icon name="cash"  slot="start"></ion-icon>
                 <p>District Payment Gateway</p>
          </ion-item>
          <ion-item (click)="gotoChatPage()">
            <ion-icon name="chatbubbles"  slot="start"></ion-icon>
                 <p>Chat</p>
          </ion-item>
          <!-- <ion-item routerLink="/privacy-settings" routerDirection="forward">
            <ion-icon name="settings" slot="start"></ion-icon>
               <p>Privacy Setting</p>
        </ion-item> -->
            <ion-item routerLink="/logout" routerDirection="forward">
              <ion-icon name="exit" slot="start"></ion-icon>
                 <p>Logout</p>
          </ion-item>
          </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>
  <ion-router-outlet id="content1">
    
  </ion-router-outlet>
  <ngx-ui-loader 
  [fgsColor]="'#1d5393'"
  [fgsPosition]="'center-center'"
  [fgsSize]=60
  [fgsType]="'square-jelly-box'"

  [bgsColor]="'#00ACC1'"
  [bgsOpacity]=0.5
  [bgsPosition]="'bottom-right'"
  [bgsSize]=60
  [bgsType]="'square-jelly-box'"
  [gap]=24
  [overlayColor]="'rgba(40, 40, 40, 0.8)'"

  [pbColor]="'#1d5393'"
  [pbDirection]="'ltr'"
  [pbThickness]=5

  [hasProgressBar]=false></ngx-ui-loader>
</ion-app>
