<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button  defaultHref="/newsletter"></ion-back-button>
      </ion-buttons>
    <ion-title>Create New</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <form onsubmit="processForm(event)">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="floating">Title <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating">Description <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>
        
  
        <div class="ion-padding">
          <ion-button expand="block" type="submit" class="ion-no-margin">Save details</ion-button>
        </div>
      </ion-list>
    </form>
  </ion-content>