<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/profile"></ion-back-button>
    </ion-buttons>
  <ion-title>Club Details</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form">
        <ion-item>
          <ion-label position="floating">Rotary ID</ion-label>
          <ion-input type="text"  formControlName="rotaryId" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Donor Recognition</ion-label>
            <ion-input type="text"  formControlName="donorRecognition"></ion-input>     
        </ion-item>
        <ion-item>
            <ion-label position="floating">Club Name</ion-label>
            <ion-input type="text" formControlName="clubName"></ion-input>    
        </ion-item>
        <ion-item>
            <ion-label position="floating">Club Designation</ion-label>
            <ion-input type="text" formControlName="clubDesignation"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">BOD</ion-label>
            <ion-input type="text"  formControlName="boardOfDirector" ></ion-input>
        </ion-item>
        <div class="ion-padding">
          <ion-button expand="block" type="submit" class="ion-no-margin" (click)="submitUserDetails()">Save details</ion-button>
        </div>
    </form>
</ion-content>
