<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  <ion-title>GML</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let item of gml">
      <ion-item  *ngIf="item.resourceType == 'gml'"(click)="openPdf(item.link)">
          <h4>{{item.name}}</h4>
          <ion-icon slot="end"  class="ion-text-end" name="document" item-end></ion-icon> 
      </ion-item>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
    <app-banner-slider></app-banner-slider>
  </ion-footer>
