<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  <ion-title>GML</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="openPdf('https://demo.digit9.co.in/rotary3141app/gmldiretory.pdf')">      
        <h4>GML Directory</h4>
      <ion-icon slot="end"  class="ion-text-end" name="document" item-end></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <img src="assets/ad_banner.jpeg" alt="" class="">
    </ion-toolbar>
  </ion-footer>
