<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="\myclub"></ion-back-button>
      </ion-buttons>
    <ion-title>Members</ion-title>
  </ion-toolbar>
  <ion-toolbar>
      <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()"></ion-searchbar>
    </ion-toolbar>
</ion-header> 

<ion-content>
    <ion-list>
        <ion-list-header>
          Office Bearers
        </ion-list-header>
        
        <ion-item *ngFor="let item of userData">
          <ion-avatar slot="start">
            <img src="{{serverURL}}/images/{{ item.image }}" onError="this.src='./../../assets/placeholder.jpg';" >
          </ion-avatar>
          <ion-label routerLink="/team/{{ item._id }}">
            <h2>{{ item.name.fullName }}</h2>
            <h3>{{ item.rotaryDetails.clubDesignation }}</h3>
            <p>Member Since - {{ item.rotaryDetails.memberSince}}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Members
        </ion-list-header>

        <ion-item  *ngFor="let item of allUserData">
          <ion-avatar slot="start">
            <img src="{{serverURL}}/images/{{ item.image }}" onError="this.src='./../../assets/placeholder.jpg';">
          </ion-avatar>
          <ion-label routerLink="/team/{{ item._id }}">
              <h2>{{ item.name.fullName }}</h2>
            <p>Member Since - {{ item.rotaryDetails.memberSince}}</p>
          </ion-label>
          <ion-icon name="paper-plane" slot="end" (click) = "sendInvitation(item.mobile)"></ion-icon>
        </ion-item>
      </ion-list>
</ion-content>

<ion-footer>
  <app-banner-slider></app-banner-slider>
  </ion-footer>
