<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/myclub"></ion-back-button>
    </ion-buttons>
  <ion-title>Resources</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let item of resources">
      <ion-item *ngIf="item.resourceType == 'resource'" (click)="download(item.name,item.link)"> 
          <h4>{{item.name}}</h4>
        <ion-icon slot="end"  class="ion-text-end" name="download" item-end></ion-icon>
      </ion-item>
    </div>  
  </ion-list>
<ion-progress-bar type="indeterminate" color="primary" *ngIf="progressbar"></ion-progress-bar>
</ion-content>

<ion-footer>
  <app-banner-slider></app-banner-slider>
  </ion-footer>
