<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/myclub"></ion-back-button>
    </ion-buttons>
  <ion-title>Resources</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="download('Rotary District 3141 Logo',' https://demo.digit9.co.in/rotary3141app/icon.png')">      
        <h4>Rotary Logo</h4>
      <ion-icon slot="end"  class="ion-text-end" name="download" item-end></ion-icon>
    </ion-item>
    <ion-item (click)="download('Disrtict Directory 2020-21', 'https://demo.digit9.co.in/rotary3141app/DistrictDirectory2020-21.pdf')">
        <h4>Disrtict Directory 2020-21</h4>
      <ion-icon slot="end"   class="ion-text-end" name="download" item-end></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <img src="assets/images/320x50-3.jpg" alt="" class="">
    </ion-toolbar>
  </ion-footer>
