<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  <ion-title>Resources</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="userrole == 'superadmin' || userrole == 'admin'">
    <ion-fab-button [routerLink]="['/add-resource/resource']" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-list>
    <div *ngFor="let item of resources">
      <ion-item *ngIf="item.resourceType == 'resource'"> 
          <h4>{{item.name}}</h4>
          <ion-icon slot="end"  class="ion-text-end" name="download" item-end (click)="openPdf(item.link)"></ion-icon>
          <ion-icon slot="end" class="ion-text-end" name="trash" (click) = "presentAlertConfirm(item._id)"></ion-icon>
      </ion-item>
    </div>  
  </ion-list>
<ion-progress-bar type="indeterminate" color="primary" *ngIf="progressbar"></ion-progress-bar>
</ion-content>

<ion-footer>
  <app-banner-slider></app-banner-slider>
  </ion-footer>
