<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button  defaultHref="/dashboard"></ion-back-button>
        <!-- <ion-menu-button></ion-menu-button> -->
      </ion-buttons>
    <ion-title>Manage Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-list-header color="light">
        Personal Info
      </ion-list-header>
      <ion-item routerLink="/personal-details">
        <ion-label>Your Personal Profile</ion-label>
      </ion-item>
      <ion-item routerLink="/business-details">
        <ion-label>Business Details</ion-label>
      </ion-item>
      <ion-item routerLink="/family-details">
        <ion-label>Family Details</ion-label>
      </ion-item>
    </ion-list>
    
    <!-- List of Input Items -->
    <ion-list>
      <ion-list-header color="light">
        Rotary
      </ion-list-header>
      <ion-item routerLink="/club-details">
        <ion-label>Club Details</ion-label>
      </ion-item>
      <ion-item routerLink="/district-details">
        <ion-label>District Details</ion-label>
      </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <app-banner-slider></app-banner-slider>
  </ion-footer>
