<ion-header>
</ion-header>
<ion-content class="cards-bg social-cards">
  <ion-card *ngFor="let item of items">
      <ion-card-header>
          <h3>{{item.title}}</h3>
          <p>{{item.eventdate}}</p>
      </ion-card-header>
      <ion-card-content>
        <p>{{item.description}}</p>
  </ion-card-content>
    <ion-row class="card-footer">
        <ion-col>
          <button ion-button class="yes" color="primary" clear small icon-start>
            <ion-icon name='thumbs-up'></ion-icon>
            Yes
          </button>
        </ion-col>
        <ion-col>
          <button ion-button class="no" color="primary" clear small icon-start>
            <ion-icon name='thumbs-down'></ion-icon>
            No
          </button>
        </ion-col>
        <ion-col align-self-center text-center>
          <button ion-button class="maybe" color="primary" clear small icon-start>
            <ion-icon name='git-commit'></ion-icon>
            Maybe
          </button>
        </ion-col>
      </ion-row>
  </ion-card>
</ion-content>
        