<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-back-button  defaultHref="/profile"></ion-back-button>
        </ion-buttons>
      <ion-title>Family Details</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <ion-fab vertical="bottom" (click)="addNewRow()" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    
    <form [formGroup]="familyForm">
      <div formArrayName="itemRows">
        <div *ngFor="let itemrow of familyForm?.get('itemRows')['controls']; let i=index" [formGroupName]="i">
         
          <h4>family Member #{{ i + 1 }}</h4>
          <ion-button horizontal="end" color="danger" *ngIf="familyForm?.get('itemRows')['length'] > 1" (click)="deleteRow(i)" class="ion-no-margin ion-danger">
            <ion-icon name="trash"></ion-icon>
        </ion-button>
        <ion-item>
            <ion-label position="floating">Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text"  formControlName="name" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Relation<ion-text color="danger">*</ion-text></ion-label>
            <ion-select  required okText="Select" cancelText="Dismiss" formControlName="relation">
                <ion-select-option value="Spouse">Spouse</ion-select-option>
                <ion-select-option value="Father">Father</ion-select-option>
                <ion-select-option value="Mother">Mother</ion-select-option>
                <ion-select-option value="Sister">Sister</ion-select-option>
                <ion-select-option value="Brother">Brother</ion-select-option>
                <ion-select-option value="Son">Son</ion-select-option>
                <ion-select-option value="Daughter">Daughter</ion-select-option>
            </ion-select>        
        </ion-item>
        <ion-item>
            <ion-label position="floating">Mobile</ion-label>
            <ion-input  type="tel" formControlName="mobile" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input  type="email"  formControlName="emailId" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Birthday</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" min="1920-03-14" max="2012-12-31" formControlName="birthday" ></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Anniversary</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" min="1920-03-14" max="2012-12-31" formControlName="anniversary" ></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Blood Group</ion-label>
            <ion-select  okText="Select" cancelText="Dismiss" formControlName="bloodGroup">
                <ion-select-option value="A+">A+</ion-select-option>
                <ion-select-option value="A-">A-</ion-select-option>
                <ion-select-option value="B+">B+</ion-select-option>
                <ion-select-option value="B-">B-</ion-select-option>
                <ion-select-option value="O+">O+</ion-select-option>
                <ion-select-option value="O-">O-</ion-select-option>
                <ion-select-option value="AB+">AB+</ion-select-option>
                <ion-select-option value="AB-">AB-</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-input placeholder="Address Line 1" formControlName="addressLine1" ></ion-input>
            <ion-input placeholder="Address Line 2" formControlName="addressLine2" ></ion-input>
            <ion-input placeholder="City" formControlName="city" ></ion-input>
            <ion-input placeholder="State" formControlName="state" ></ion-input>
            <ion-input placeholder="Zip Code" formControlName="pincode" ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">About</ion-label>
            <ion-textarea formControlName="about" ></ion-textarea>
        </ion-item>
        </div>
      </div>
      <div class="ion-padding">
            <ion-button expand="block" type="submit" class="ion-no-margin" (click)="submitUserDetails()">Save details</ion-button>
          </div>
    </form>
</ion-content>